.body {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 3em;
}

.button {
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}
.itemList {
  list-style: none;
}

.tabla {
  border-collapse: collapse;
  width: 60%;
  margin: 30px;
}

.tabla th,
.tabla td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  font-family: "Titillium Web", sans-serif;
}

.tabla th {
  background-color: #e49c9c;
}
.botonera {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}
