.body {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 3em;
}
.table {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 35%;
  padding: 25px;
}

.columna {
  padding: 15px;
}

.subTitle {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.botonera {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  margin: 15px;
}

.button {
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}
.itemList {
  list-style: upper-roman;
  font-size: 1.3em;
}
.dato {
  font-size: 1.4em;
}
