.container {
  height: 60px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e49c9c;
  z-index: 2;
  top: 0;
}

.span {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.span:hover {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
}

.button {
  background-color: #e49c9c;
  border: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}
.button:hover {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
}
.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
