.container {
  height: 60px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(110, 104, 104, 0.9);
  z-index: 2;
  top: 0;
}

.span {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.span:hover {
  color: cornflowerblue;
  font-family: "Titillium Web", sans-serif;
}
