.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 3em;
  font-family: "Titillium Web", sans-serif;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input {
  font-size: 1.1em;
  font-family: "Titillium Web", sans-serif;
  border-radius: 4px;
  padding: 1px 25px;
  margin: 10px;
}

.separador {
  border: 5px solid #e49c9c;
}
.button {
  border: none;
  background-color: white;
  width: 35px;
  height: 30px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}
